.aae-process-item {
  background-color: rgb(238, 236, 236);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.aae-process-item__head {
  display: flex;
}

.aae-process-item__heading {
  flex-grow: 1;
}

.aae-process-item__events { 
    display: flex;
    align-items: flex-start;
}

.aae-process-item__title {
  margin: 0;
}

.aae-process-item__description {
  margin: 0;
}
