.aae-project {

}

.aae-project__header {
    padding: 8px;
}

.aae-project__title {
    font-size: 20px;
    margin: 8px 0;
}

.aae-project-grid {
    display: block;
    width: 100%;
}

.aae-project-grid_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.aae-project-grid_row--head {
    border-bottom: 1px solid gainsboro;
}
