.create-project {
    padding: 8px;
}

.create-project__form {
}

.create-project__form-input-wrapper {
  margin-bottom: 12px;
}

.create-project__form-label {
  display: block;
}

.create-project__form-input {
  display: block;
}

.create-project__form-textarea {
}

.create-project__create-button {
  background-color: rgb(224, 222, 222);
  padding: 0 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 16px;
}
