.aae-calendar-day {
    
}

.aae-calendar-day--selected {
    background-color: cyan;
}

.aae-calendar-day--disabled {
    color: gainsboro;
}

.aae-calendar-day:hover {
    background-color: cyan;
}
